* { 
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

:root {
    --premium-color:#171100;
    --primary-color: #ffb900;
    --text-color: #5F5B53;
    --white-color: #ffffff;
    --main-color:#FFFCF4;
    
    --font-heading: "sen", sans-serif;
}


a {
    text-decoration: none;
}

.heading-lv2 {
    color: var(--premium-color);
    font-family: var(--font-heading);
    font-size: 3.8rem;
    line-height: 1.27;
    font-weight: 700;
    letter-spacing: -0.76px
}

.btn {
    display: inline-block;
    padding: 4px 16px;
    line-height: 46px;
    min-width: 118px;
    color: var(--white-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 999px;
    background: var(--premium-color);
    cursor: pointer;
}

.desc {
    color: var(--text-color);
    font-size: 1.4rem;

}

.btn:hover {
    opacity: 0.88;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: var(--main-color);
}

.header.fixed {
    z-index: 1;
    position:sticky;
    top: -28px;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;

}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    color:  var(--text-color);
    font-size: 1.6rem;
    padding: 8px 24px;
    position: relative;
}

.nav li.action a,
.nav a:hover {
    color: var(--premium-color);
    text-shadow: 1px 0 0 currentColor;
}

.nav li.action {
    position: relative;
}


.nav li.action a::after {
    position: absolute;
    display: inline-block;
    content: "";
    background-color: var(--premium-color);
    width: 12px;
    height: 2px;
    bottom: 6px;
    left: 24px;
    border-radius: 1px;
}

.header .btn-sign-up {
    min-width: 144px;
    margin-left: 46px;
}


/* ==========hero========== */
.hero {
    padding: 56px 0 65px;
    background-color: var(--main-color);
}

.hero .body {
    display: flex;
}
/* =========hero left========= */

.hero .media-block {
    width: 48%;
    position: relative;
}

.hero .media-block .img {
    max-width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
}



.hero .hero-summary {
    position: absolute;
    padding: 16px 20px;
    width: 270px;
    background-color: var(--white-color);
    border-radius: 12px;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.1);
    bottom: 36px;
    right: 4px;
}

.hero-summary .media-summary-item {
    display: flex;
    align-items: center;
}

.media-summary-item .icon { 
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-summary-item .icon-1 {
    background-color: #FFF9E8;
}

.media-summary-item .icon-2 {
    background-color: #fcefff;
}

.media-summary-item .icon-3 {
    background-color: #EBEAFF;
}

.media-summary-item .info {
    margin: 16px;
}

.media-summary-item .label {
    color:  var(--text-color);
    font-size: 1.4rem;
}

.media-summary-item .title {
    color: var(--premium-color);
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
}

/* =========hero right=========*/
.hero .content-block {
    width: 52%;
    padding-left: 130px;
    padding-top: 64px;
}

.hero .heading {
    color: var(--premium-color);
    font-family: var(--font-heading);
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.hero .content-block .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    margin-top: 22px;
    color: var(--text-color);
}

.hero .cta-group {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero .btn-cta {
    min-width: 180px;
    background-color: var(--primary-color);
    line-height: 64px;
    font-size: 1.8rem;
    
}

.hero .watch-video {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    margin-left: 28px;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--white-color);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.hero .watch-video span {
    color: var(--premium-color);
    font-size: 1.8rem;
    font-weight: 600;
}

.hero .desc-recent {
    margin-top: 48px;
}

.hero .desc-recent .desc:nth-child(2) {
    margin-top: 8px;
}

.hero .desc-recent strong {
    color: var(--premium-color);
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
    margin-right: 12px;
}

.hero .desc-recent strong:nth-child(2) {
    margin-left: 28px;
}

/* popular */
.popular {
    padding: 154px 0 152px;
    background-color: var(--white-color);
}

.popular .popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .desc {
    font-size: 1.7rem;
    line-height: 1.67;
    font-family: Poppins;
    color: var(--text-color);
    margin-top: 16px;
    width: 458px;
}

.popular-top .control {
    display: flex;
    gap: 18px;
}

.popular-top .contol-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border:1px solid var(--primary-color);
    height: 40px;
    width: 40px;
    border-radius: 999px;
    color: var(--primary-color);
}

.popular-top .contol-btn:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
}

.popular .course-list {
    display: flex;
    margin-top: 55px;
    gap: 30px;
}

.popular .course-item {
    width: 33.3333%;
    border: 1px solid #E2DFDA;
    border-radius: 12px;
    overflow: hidden;
    background-color: var(--white-color);
}

.popular .course-item:hover {
    border: 1px solid transparent;

    box-shadow: 0px 18px 36px 0px #0000000D;
}

.popular .course-item .thumb {
    width: 100%;
    object-fit: cover;
    height: 278px;
}

.popular .course-item .info {
    padding:16px 22px 22px;
}

.popular .course-item .rating,
.popular .course-item .foot,
.popular .course-item .head {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.popular .course-item .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
}

.popular .course-item .value {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: var(--primary-color);
    margin: 6px;

}

.popular .course-item .desc {
    line-height: 1.86;
    margin-top: 6px;
}

.popular .course-item .foot {
    margin-top: 12px;
}

.popular .course-item .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--premium-color);
}

.popular .course-item .btn-book {
    border: none;
}

.popular .course-item .btn-book:hover {
    background-color: var(--primary-color);
}